//import color Variables
@import "imports/color_Variables";

// import allg CSS seiten-style
@import "imports/allgCSSHtml.scss";

// import navbar
@import "imports/navbar";


//import Mediaqueries
// @import "imports/mediaqueries_Index";

@import "imports/contact";




@mixin sub-heading {
    display: flex;

    h2 {
        margin: 0rem auto;
        margin-top: 1.5rem;
        letter-spacing: 0.3rem;
        font-size: 2.3rem;

        @media #{$middle} {
            font-size: 1.9rem;
            // color: green;
        }
    }
}


// landing page

#landingPage {
    height: 100vh;
}


#heading {
    display: flex;
    flex-direction: column;
    text-align: center;

    margin: 0 5vw;

    h1 {
        font-size: 2.5rem;
        margin-top: 25vh;
        margin-bottom: 0.5rem;
        letter-spacing: 0.8rem;

        @media #{$middle} {
            font-size: 1.9rem;
            margin-top: 13vh;
            // color: green;
        }
    }

    p {
        font-size: 1.6em;
        letter-spacing: 0.4rem;

        @media #{$middle} {
            font-size: 1.2rem;
        }

        // color: $darkgrey;
    }

    &::after {
        content: "";
        background: url(../images/DSC_0061_2a.JPG);
        background-size: cover;
        background-attachment: absolute;
        opacity: 0.9;
        /* Add the blur effect */
        // filter: blur(2px);
        // -webkit-filter: blur(2px);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        /* transparent background-image */
        /* https://css-tricks.com/snippets/css/transparent-background-images/ */
    }
}

//different navbar styling thatn project page

#nb-home {
    // flex: 1;

    a {
        // padding: 0 0.5rem;
        color: lighten($darkgrey, 20%);
        border-bottom: 0.1rem solid lighten($darkgrey, 20%);
        // border-left: 0.2rem solid darken($lightgrey, 10%);
    }
}

.nb-item {
    a {
        &:hover {
            border-bottom: 0.12rem solid lighten($darkgrey, 20%);
        }
    }
}


// projects

#projects-container {

    // height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4vw;


    .pc-heading {
        @include sub-heading();
        margin-bottom: 4rem;
    }

    #project-teaser {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 8vw;
        justify-content: center;
        margin: 0 auto;

        @media #{$middle} {
            grid-template-columns: 1fr;
            // grid-gap: 4vw;
        }




        .pt-project {
            display: grid;
            grid-template-rows: 1fr 1fr;
            justify-content: center;
            width: 25rem;
            height: 22rem;


            @media #{$middle} {
                width: 20rem;
                height: 17rem;

            }


            .image {
                width: 25rem;
                height: 20rem;

                @media #{$middle} {
                    width: 20rem;
                    height: 15rem;
                }
            }
        }

        .image {

            // height: 20rem;
            object-fit: cover;
            // border: 1rem $lighgrey solid;
            border-top: 0.16rem solid darken($lightgrey, 30%);
            border-bottom: 0.16rem solid darken($lightgrey, 30%);
            padding: 0.5rem 0;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }

        .project-description {
            text-align: center;
        }
    }
}


#cv-container {
    display: flex;
    flex-direction: column;
    padding: 2vw 20vw 5vw 20vw;
    justify-content: center;


    .cv-heading {
        @include sub-heading();
        margin-bottom: 2rem;
    }

    .cv-years {
        margin: 0rem auto;
        align-content: center;
        // padding: 2vw 20vw 5vw 20vw;

        h4 {
            margin-bottom: 0.4rem;
            margin-top: 1.7rem;
            // font-size: 2rem;
        }

        p {
            margin-bottom: 0.7rem;
            line-height: 1.5rem;
            font-size: 1rem;
        }
    }
}