* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0em;
  margin: 0em;
  font-family: "Source Sans Pro", sans-serif;
  color: #313131;
  line-height: 1.7em;
}

*::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  font-size: 17px;
  /* overflow-y: scroll; */
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
}

h2 {
  font-size: 2.1rem;
}

body {
  background-color: #fbfbfb;
}

body::-webkit-scrollbar-track {
  background-color: rgba(233, 233, 233, 0.3);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(119, 174, 182, 0.7);
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(89, 128, 134, 0.7);
}

.navbar-container {
  padding: 0.8vw 5vw 0.8vw 5vw;
}

.navbar-container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.4rem;
}

@media (min-width: 481px) and (max-width: 860px) {
  .navbar-container .navbar {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .navbar-container .navbar {
    font-size: 1rem;
  }
}

.navbar-container .navbar #nb-home {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar-container .navbar #nb-home a {
  padding: 0 0.5rem;
}

.navbar-container .navbar .nb-item {
  padding: 0.3rem 0;
  font-weight: 400;
  letter-spacing: 0.3rem;
}

.navbar-container .navbar .nb-item a {
  text-decoration: none;
}

.navbar-container .navbar .nb-right {
  margin-left: 3vw;
}

.navbar-projects-wrapper {
  padding: 0.8vw 5vw 0.8vw 5vw;
  margin-top: 2vh;
}

.navbar-projects-wrapper h4 {
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
  text-transform: none;
  color: #4b4b4b;
}

.navbar-projects-wrapper .nb-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin-top: 0.5rem;
}

.navbar-projects-wrapper .nb-projects .nb-p-project {
  margin-right: 0.6rem;
}

.navbar-projects-wrapper .nb-projects .nb-p-project .nbpp-link {
  color: #909090;
  text-decoration: none;
  font-size: 1.1rem;
  letter-spacing: 0.07rem;
  padding: 0.3rem 0.4rem;
  text-transform: uppercase;
}

@media (min-width: 481px) and (max-width: 860px) {
  .navbar-projects-wrapper .nb-projects .nb-p-project .nbpp-link {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .navbar-projects-wrapper .nb-projects .nb-p-project .nbpp-link {
    font-size: 0.8rem;
  }
}

.navbar-projects-wrapper .nb-projects .nb-p-project .nbpp-link:hover {
  color: #6a6a6a;
}

.navbar-projects-wrapper .nb-projects .nb-p-project .active {
  color: #4b4b4b;
  font-size: 1.15rem;
  background: rgba(233, 233, 233, 0.5);
}

@media (min-width: 481px) and (max-width: 860px) {
  .navbar-projects-wrapper .nb-projects .nb-p-project .active {
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .navbar-projects-wrapper .nb-projects .nb-p-project .active {
    font-size: 0.85rem;
  }
}

#contact-container {
  margin-bottom: 8vh;
}

.trennungsbalken {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0.2rem;
  margin: 0 7vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trennungsbalken .trennungsbalken-links,
.trennungsbalken .trennungsbalken-rechts {
  background-color: #8a8a8a;
  width: 1vw;
}

#contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2rem 1fr 0.2rem;
      grid-template-columns: 0.2rem 1fr 0.2rem;
  padding: 0 7vw;
  grid-gap: 4vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .cd-side-left,
#contact .cd-side-right {
  height: 1vw;
  background-color: #8a8a8a;
}

#contact .cd-side-middle {
  padding-bottom: 2vw;
}

#contact .contact-heading {
  margin-bottom: 2.5rem;
  letter-spacing: 0.3rem;
  text-align: center;
}

#contact .contact-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 1fr;
      grid-template-columns: 60% 1fr;
  grid-gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 4vw;
}

@media (min-width: 481px) and (max-width: 860px) {
  #contact .contact-details {
    grid-gap: 1.5rem;
  }
}

@media (max-width: 480px) {
  #contact .contact-details {
    grid-gap: 0.8rem;
  }
}

#contact .contact-details h4 {
  font-size: 1.1rem;
  text-transform: none;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  color: #646464;
}

@media (max-width: 480px) {
  #contact .contact-details h4 {
    font-size: 0.9rem;
  }
}

#contact .contact-details p {
  font-size: 1rem;
}

@media (max-width: 480px) {
  #contact .contact-details p {
    font-size: 0.9rem;
  }
}

#landingPage {
  height: 100vh;
}

#heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 5vw;
}

#heading h1 {
  font-size: 2.5rem;
  margin-top: 25vh;
  margin-bottom: 0.5rem;
  letter-spacing: 0.8rem;
}

@media (min-width: 481px) and (max-width: 860px) {
  #heading h1 {
    font-size: 1.9rem;
    margin-top: 13vh;
  }
}

#heading p {
  font-size: 1.6em;
  letter-spacing: 0.4rem;
}

@media (min-width: 481px) and (max-width: 860px) {
  #heading p {
    font-size: 1.2rem;
  }
}

#heading::after {
  content: "";
  background: url(../images/DSC_0061_2a.JPG);
  background-size: cover;
  background-attachment: absolute;
  opacity: 0.9;
  /* Add the blur effect */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  /* transparent background-image */
  /* https://css-tricks.com/snippets/css/transparent-background-images/ */
}

#nb-home a {
  color: #646464;
  border-bottom: 0.1rem solid #646464;
}

.nb-item a:hover {
  border-bottom: 0.12rem solid #646464;
}

#projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4vw;
}

#projects-container .pc-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4rem;
}

#projects-container .pc-heading h2 {
  margin: 0rem auto;
  margin-top: 1.5rem;
  letter-spacing: 0.3rem;
  font-size: 2.3rem;
}

@media (min-width: 481px) and (max-width: 860px) {
  #projects-container .pc-heading h2 {
    font-size: 1.9rem;
  }
}

#projects-container #project-teaser {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 8vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

@media (min-width: 481px) and (max-width: 860px) {
  #projects-container #project-teaser {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#projects-container #project-teaser .pt-project {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25rem;
  height: 22rem;
}

@media (min-width: 481px) and (max-width: 860px) {
  #projects-container #project-teaser .pt-project {
    width: 20rem;
    height: 17rem;
  }
}

#projects-container #project-teaser .pt-project .image {
  width: 25rem;
  height: 20rem;
}

@media (min-width: 481px) and (max-width: 860px) {
  #projects-container #project-teaser .pt-project .image {
    width: 20rem;
    height: 15rem;
  }
}

#projects-container #project-teaser .image {
  -o-object-fit: cover;
     object-fit: cover;
  border-top: 0.16rem solid #9d9d9d;
  border-bottom: 0.16rem solid #9d9d9d;
  padding: 0.5rem 0;
  cursor: pointer;
}

#projects-container #project-teaser .image:hover {
  opacity: 0.8;
}

#projects-container #project-teaser .project-description {
  text-align: center;
}

#cv-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2vw 20vw 5vw 20vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cv-container .cv-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

#cv-container .cv-heading h2 {
  margin: 0rem auto;
  margin-top: 1.5rem;
  letter-spacing: 0.3rem;
  font-size: 2.3rem;
}

@media (min-width: 481px) and (max-width: 860px) {
  #cv-container .cv-heading h2 {
    font-size: 1.9rem;
  }
}

#cv-container .cv-years {
  margin: 0rem auto;
  -ms-flex-line-pack: center;
      align-content: center;
}

#cv-container .cv-years h4 {
  margin-bottom: 0.4rem;
  margin-top: 1.7rem;
}

#cv-container .cv-years p {
  margin-bottom: 0.7rem;
  line-height: 1.5rem;
  font-size: 1rem;
}
/*# sourceMappingURL=style_index.css.map */