//import Variables
@import "imports/variables";

// import Img Enlarger Modal
@import "imports/modal_enlargeImg";


// import navbar of project page
@import "imports/navbar";

//import mediaqueries of navbar
@import "imports/mediaqueries_navbar";

//import contact
@import "imports/contact";

* {
    box-sizing: border-box;
    padding: 0em;
    margin: 0em;
    font-family: "Source Sans Pro", sans-serif;
    color: $darkgrey;
    line-height: 1.7em;

    &::before,
    &::after {
        box-sizing: inherit;
    }
}


html {
    height: 100vh;
    position: relative;
    scroll-behavior: smooth;
    font-size: 17px;
    /* overflow-y: scroll; */
}

h1,
h2,
h3,
h4,
h5 {
    text-transform: capitalize;
}

h2 {
    font-size: 2.1rem;
}

body {
    background-color: $background;

    &::-webkit-scrollbar-track {
        background-color: rgba($lightgrey, 0.3);
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(119, 174, 182, 0.7);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgba(89, 128, 134, 0.7);
    }

    @media #{$small} {
        overflow-x: hidden;
    }


}


// //slightly different navbar styling than index page
// #nb-home {
//     // flex: 1;

//     a {
//         // padding: 0 0.5rem;
//         border-left: 0.2rem solid darken($lightgrey, 10%);

//     }
// }

// .nb-item {

//     a {
//         color: lighten($darkgrey, 15%);

//         &:hover {
//             border-bottom: 0.12rem solid lighten($darkgrey, 50%);
//         }
//     }
// }


// projects

.main-container {
    background-color: $background;
    display: grid;
    grid-template-columns: 1fr 40%;
    grid-gap: 2vw;
    padding: 5vw 5vw;

    @media #{$small} {
        grid-template-columns: 1fr;
    }


    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;

        @media #{$middle} {
            grid-template-columns: 1fr
        }

        @media #{$small} {
            grid-template-columns: 1fr
        }

        // padding: 0 4vw;
        // align-items: center;
        // justify-items: center;

        .project-image {
            margin-bottom: 2vw;
            transition: 0.1s ease-in;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }


    }

    .project-description {

        //stellt die Projekt-beschreibung ueber die Bilder
        @media #{$small} {
            grid-row-start: 1;
        }
    }

}





// https: //www.hongkiat.com/blog/css-image-zoom-onclick/
// https: //www.inserthtml.com/2012/04/css-image-gallery/
// https: //codepen.io/ongtiffany/pen/BoOeQV
// https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal_img