//import color Variables
@import "imports/color_Variables";

// import Img Enlarger Modal
@import "imports/modal_enlargeImg";


// import navbar of project page
@import "imports/navbar";



//import allg CSS seiten-style
@import "imports/allgCSSHtml.scss";

//import contact
@import "imports/contact";

// import mediaqueries project page
@import "imports/_mediaqueries_projectpage";

//slightly different navbar styling than index page
#nb-home {
    // flex: 1;

    a {
        // padding: 0 0.5rem;
        border-left: 0.2rem solid darken($lightgrey, 10%);

    }
}

.nb-item {

    a {
        color: lighten($darkgrey, 15%);

        &:hover {
            border-bottom: 0.12rem solid lighten($darkgrey, 50%);
        }
    }
}


// projects

.main-container {
    background-color: $background;
    display: grid;
    grid-template-columns: 1fr 40%;
    grid-gap: 2vw;
    padding: 5vw 5vw;

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;

        @media screen and (max-width: 850px) {
            grid-template-columns: 1fr
        }

        // padding: 0 4vw;
        // align-items: center;
        // justify-items: center;

        .project-image {
            margin-bottom: 2vw;
            transition: 0.1s ease-in;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }

    }
}





// https: //www.hongkiat.com/blog/css-image-zoom-onclick/
// https: //www.inserthtml.com/2012/04/css-image-gallery/
// https: //codepen.io/ongtiffany/pen/BoOeQV
// https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal_img