/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.navbar-container {
  padding: 0.8vw 5vw 0.8vw 5vw;
}

.navbar-container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.4rem;
}

@media (min-width: 481px) and (max-width: 860px) {
  .navbar-container .navbar {
    font-size: 1rem;
  }
}

.navbar-container .navbar #nb-home {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar-container .navbar #nb-home a {
  padding: 0 0.5rem;
}

.navbar-container .navbar .nb-item {
  padding: 0.3rem 0;
  font-weight: 400;
  letter-spacing: 0.3rem;
}

.navbar-container .navbar .nb-item a {
  text-decoration: none;
}

.navbar-container .navbar .nb-right {
  margin-left: 3vw;
}

.navbar-projects-wrapper {
  padding: 0.8vw 5vw 0.8vw 5vw;
  margin-top: 2vh;
}

.navbar-projects-wrapper h4 {
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
  text-transform: none;
  color: #4b4b4b;
}

.navbar-projects-wrapper .nb-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin-top: 0.5rem;
}

.navbar-projects-wrapper .nb-projects .nb-p-project {
  margin-right: 0.6rem;
}

.navbar-projects-wrapper .nb-projects .nb-p-project .nbpp-link {
  color: #909090;
  text-decoration: none;
  font-size: 1.1rem;
  letter-spacing: 0.07rem;
  padding: 0.3rem 0.4rem;
  text-transform: uppercase;
}

@media (min-width: 481px) and (max-width: 860px) {
  .navbar-projects-wrapper .nb-projects .nb-p-project .nbpp-link {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .navbar-projects-wrapper .nb-projects .nb-p-project .nbpp-link {
    font-size: 0.8rem;
  }
}

.navbar-projects-wrapper .nb-projects .nb-p-project .nbpp-link:hover {
  color: #6a6a6a;
}

.navbar-projects-wrapper .nb-projects .nb-p-project .active {
  color: #4b4b4b;
  font-size: 1.15rem;
  background: rgba(233, 233, 233, 0.5);
}

@media (min-width: 481px) and (max-width: 860px) {
  .navbar-projects-wrapper .nb-projects .nb-p-project .active {
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .navbar-projects-wrapper .nb-projects .nb-p-project .active {
    font-size: 0.85rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0em;
  margin: 0em;
  font-family: "Source Sans Pro", sans-serif;
  color: #313131;
  line-height: 1.7em;
}

*::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  font-size: 17px;
  /* overflow-y: scroll; */
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
}

h2 {
  font-size: 2.1rem;
}

body {
  background-color: #fbfbfb;
}

body::-webkit-scrollbar-track {
  background-color: rgba(233, 233, 233, 0.3);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(119, 174, 182, 0.7);
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(89, 128, 134, 0.7);
}

#contact-container {
  margin-bottom: 8vh;
}

.trennungsbalken {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0.2rem;
  margin: 0 7vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trennungsbalken .trennungsbalken-links,
.trennungsbalken .trennungsbalken-rechts {
  background-color: #8a8a8a;
  width: 1vw;
}

#contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2rem 1fr 0.2rem;
      grid-template-columns: 0.2rem 1fr 0.2rem;
  padding: 0 7vw;
  grid-gap: 4vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .cd-side-left,
#contact .cd-side-right {
  height: 1vw;
  background-color: #8a8a8a;
}

#contact .cd-side-middle {
  padding-bottom: 2vw;
}

#contact .contact-heading {
  margin-bottom: 2.5rem;
  letter-spacing: 0.3rem;
  text-align: center;
}

#contact .contact-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 1fr;
      grid-template-columns: 60% 1fr;
  grid-gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 4vw;
}

#contact .contact-details h4 {
  font-size: 1.3rem;
  text-transform: none;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  color: #646464;
}

#contact .contact-details p {
  font-size: 1.2rem;
}

#nb-home a {
  border-left: 0.2rem solid #d0d0d0;
}

.nb-item a {
  color: #575757;
}

.nb-item a:hover {
  border-bottom: 0.12rem solid #b1b1b1;
}

.main-container {
  background-color: #fbfbfb;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40%;
      grid-template-columns: 1fr 40%;
  grid-gap: 2vw;
  padding: 5vw 5vw;
}

.main-container .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2vw;
}

@media screen and (max-width: 850px) {
  .main-container .row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.main-container .row .project-image {
  margin-bottom: 2vw;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  cursor: pointer;
}

.main-container .row .project-image:hover {
  opacity: 0.8;
}
/*# sourceMappingURL=style_project.css.map */