#contact-container {
    margin-bottom: 8vh;
}

.trennungsbalken {
    display: flex;
    height: 0.2rem;
    margin: 0 7vw;
    justify-content: space-between;

    .trennungsbalken-links,
    .trennungsbalken-rechts {
        // background: url(../../images/contact.JPG);
        // opacity: 0.7;
        background-color: lighten($darkgrey, 35%);
        width: 1vw;
        // height: 0.4vw;
    }

}

#contact {
    display: grid;
    grid-template-columns: 0.2rem 1fr 0.2rem;
    padding: 0 7vw;
    grid-gap: 4vw;
    align-items: center;
    // border-top: 0.2rem solid $lightgrey;
    // background-color: $lightgrey;
    // background-image: url(../../images/contact.0JPG);
    // background-size: cover;

    .cd-side-left,
    .cd-side-right {
        // justify-content: center;
        height: 1vw;
        background-color: lighten($darkgrey, 35%);
        // opacity: 0.7;
    }

    .cd-side-middle {
        padding-bottom: 2vw;
    }

    .contact-heading {
        margin-bottom: 2.5rem;
        letter-spacing: 0.3rem;
        text-align: center;
        // font-size: 2.3rem;
    }

    .contact-details {
        display: grid;
        grid-template-columns: 60% 1fr;
        grid-gap: 3rem;
        justify-content: center;
        padding-bottom: 4vw;

        h4 {
            font-size: 1.3rem;
            text-transform: none;
            letter-spacing: 0.2rem;
            margin-bottom: 1rem;
            // color: lighten($darkgrey: 30%);
            color: lighten($darkgrey, 20%);
        }

        p {
            font-size: 1.2rem;

        }

    }

}