// Kontakt

#contact-container {
    margin: 0 1vw 4vw 1vw;

    @media #{$small} {
        margin: 0 0 8vh 0;
    }
}


#contact {
    display: grid;
    grid-template-columns: 0.2rem 1fr 0.2rem;
    grid-column-gap: 4vw;
    align-items: center;

    .contact-heading {
        margin-bottom: 2.5rem;
        letter-spacing: 0.3rem;
        text-align: center;

        h2 {
            font-size: 2.1rem;

            @media #{$tall} {
                font-size: 1.7rem;
                // color: green;
            }

            @media #{$middle} {
                font-size: 1.4rem;
                // color: green;
            }

            @media #{$small} {
                font-size: 1.2rem;
                // color: green;
            }
        }

        // font-size: 2.3rem;
    }

    .contact-details {
        display: grid;
        grid-template-columns: 65% 1fr;
        grid-column-gap: 3rem;
        grid-row-gap: 1rem;
        justify-content: center;
        padding-left: 2vw;
        border-left: 0.2rem solid lighten($darkgrey, 30%);

        @media #{$middle} {
            grid-gap: 1.5rem;
            // color: green;
        }

        @media #{$small} {
            grid-gap: 0.8rem;
            border-left: 0.15rem solid lighten($darkgrey, 30%);
            // color: green;
        }

        h4 {
            font-size: 1.1rem;
            color: lighten($darkgrey, 30%);

            @media #{$middle} {
                font-size: 0.9em;
            }

            @media #{$small} {
                font-size: 0.7rem;
            }
        }

        p {
            font-size: 1rem;

            @media #{$tall} {
                font-size: 0.93rem;
            }

            @media #{$middle} {
                font-size: 0.8rem;
                // color: green;
            }

            @media #{$small} {
                font-size: 0.7rem;
                // color: green;
            }

        }

    }

}