@mixin sub-heading {
    display: flex;

    h2 {
        margin: 0rem auto;
        margin-top: 1.5rem;
        letter-spacing: 0.3rem;
        font-size: 2.1rem;

        @media #{$tall} {
            font-size: 1.7rem;
            // color: green;
        }

        @media #{$middle} {
            font-size: 1.4rem;
            // color: green;
        }

        @media #{$small} {
            font-size: 1.2rem;
            // color: green;
        }
    }
}