//mixin padding container
@mixin PaddingContainer {
    padding: 0 5vw 0vw 5vw;
}


.navbar-container {
    @include PaddingContainer();
    // background-color: rgba($darkgrey, 0.1);
    // position: fixed;
    margin-top: 0.8vh;
    position: relative;
    display: flex;
    list-style: none;
    font-size: 1.4rem;
    letter-spacing: 0.3rem;

    @media #{$middle} {
        flex-direction: column;
    }

    // height: 4rem;
    a {
        @media #{$tall} {
            font-size: 1.3rem;
        }

        @media #{$middle} {
            font-size: 1.1rem;
        }

        @media #{$small} {
            font-size: 0.9rem;
        }
    }

    .navbar-home {
        flex: 1;

        a {
            text-decoration: none;
            color: lighten($darkgrey, 10%);
            padding: 0.2rem 0.5rem;
            border-left: 0.2rem solid lighten($darkgrey, 30%);
            // border-bottom: 0.2rem solid lighten($darkgrey, 30%);

            &:hover {
                background-color: rgba($darkgrey, 0.1);
                // border-bottom: 0.12rem solid lighten($darkgrey, 20%);
            }

            @media #{$middle} {
                border-bottom: 0.15rem solid lighten($darkgrey, 30%);
            }

        }
    }

    .navbar-links {
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 35%;

        @media screen and (max-width: 1024px) {
            width: 40%;
        }

        @media #{$middle} {
            width: 50%;
        }
    }

    .nb-right {
        @media #{$middle} {
            margin: 0 0.5rem 0 0;
            padding: 0;
        }

        a {
            text-decoration: none;
            margin-left: 3vw;
            padding: 0.2rem 0.5rem;

            color: lighten($darkgrey, 10%);

            @media #{$middle} {
                margin-left: 0;
            }

            &:hover {
                background-color: rgba($darkgrey, 0.1);
            }

        }

    }
}



// navbar projekte auf projekte html

.navbar-projects-wrapper {
    @include PaddingContainer();
    margin-top: 5vh;

    // @media #{$middle} {
    //     margin-top: 10vh;
    // }

    h4 {
        letter-spacing: 0.3rem;
        font-size: 1.1rem;
        text-transform: none;
        color: lighten($darkgrey, 10%);

        @media #{$middle} {
            font-size: 0.9rem;
        }

        @media #{$small} {
            font-size: 0.8rem;
        }
    }


    .nb-projects {

        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin-top: 0.5rem;

        @media #{$small} {
            // https://iamsteve.me/blog/entry/horizontal-scrolling-responsive-menu
            flex-wrap: nowrap;
            white-space: nowrap;
            overflow-x: auto;
            // -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            scrollbar-width: none;


            .nb-scroll::-webkit-scrollbar {
                display: none;
            }
        }


        .nb-p-project {
            margin-right: 0.6rem;

            .nbpp-link {
                color: darken($lightgrey, 35%);
                text-decoration: none;
                font-size: 1rem;
                letter-spacing: 0.07rem;
                padding: 0.3rem 0.4rem;
                // color: green;
                text-transform: uppercase;

                @media #{$middle} {
                    font-size: 0.8rem;
                    // color: green;
                }

                @media #{$small} {
                    font-size: 0.6rem;
                    // color: green;
                }


                &:hover {
                    color: darken($lightgrey, 50%);
                }
            }

            .active {
                color: lighten($darkgrey, 10%);
                font-size: 1.05rem;
                background: rgba($lightgrey, 0.5);

                @media #{$middle} {
                    font-size: 0.85rem;
                    // color: green;
                }

                @media #{$small} {
                    font-size: 0.65rem;
                    // color: green;
                }
            }


        }
    }
}

.icon-arrows {
    text-align: center;

    .fa-chevron-left,
    .fa-chevron-right,
    .span-scroll {
        visibility: hidden;

        @media #{$small} {
            visibility: visible;
            font-size: 0.6rem;
            color: darken($lightgrey, 20%);
            margin: 0 0.4rem;
        }
    }
}