//import color Variables
@import "./color_Variables";

// import Img Enlarger Modal
@import "./modal_enlargeImg";

// // import navbar
// @import "./navbar";

// import navbar of project page
@import "./navbar_projects";


//import allg CSS seiten-style
@import "./allgCSSHtml.scss";





// projects

.main-container {
    background-color: $background;
    display: grid;
    grid-template-columns: 1fr 40%;
    grid-gap: 2vw;
    padding: 5vw 5vw;

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;
        // padding: 0 4vw;
        // align-items: center;
        // justify-items: center;

        .project-image {
            margin-bottom: 2vw;
            transition: 0.1s ease-in;

            &:hover {
                opacity: 0.8;
            }
        }

    }
}

contact {
    padding: 2vw 5vw;
    background-color: darken($lightgrey, 15%);
    text-align: center;
}


// https: //www.hongkiat.com/blog/css-image-zoom-onclick/
// https: //www.inserthtml.com/2012/04/css-image-gallery/
// https: //codepen.io/ongtiffany/pen/BoOeQV
// https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal_img