<div id="contact-container">
    <div class="trennungsbalken">
        <div class="trennungsbalken-links ol"></div>
        <div class="trennungsbalken-rechts or"></div>
    </div>
    <div id="contact">
        <div class="cd-side-left"></div>
        <div class="cd-side-middle">
            <div class="contact-heading">
                <h2>Contact</h2>
            </div>

            <div class="contact-details">
                <div class="cd-description">
                    <p>Email: contact@zaidaguerrerocasado.com</p>
                    <p>Currently located in Leipzig, Germany</p>
                </div>
                <div>
                    <p>Copyright &copy; <script>
                            document.write(new Date().getFullYear())
                        </script> Zaida Guerrero Casado</p>
                </div>
            </div>
        </div>
        <div class="cd-side-right"></div>
    </div>
    <div class="trennungsbalken">
        <div class="trennungsbalken-links"></div>
        <div class="trennungsbalken-rechts ur"></div>
    </div>
</div>