<!-- Kontakt footer -->
<div id="contact">
    <div class="contact-heading">
        <h2>Contact</h2>
    </div>

    <div class="contact-details">
        <div class="cd-description">
            <p>Email: contact@zaidaguerrerocasado.com</p>
            <p>Currently located in Leipzig, Germany</p>
        </div>
        <div>
            <p>Copyright &copy; <script>
                    document.write(new Date().getFullYear())
                </script> Zaida Guerrero Casado</p>
        </div>
    </div>
</div>