<nav class="navbar-container">
    <div class="navbar-home">
        <a class="nb-item" href="index.html">Zaida G. Casado</a>
    </div>

    <!-- <div class="navbar-burger">
        <i class="fas fa-bars"></i>
    </div> -->

    <ul class="navbar-links">
        <li class="nb-item nb-right"><a href="index.html#projects-container">Projekte</a></li>
        <li class="nb-item nb-right"><a href="#cv-container">CV</a></li>
        <li class="nb-item nb-right"><a href="#contact">Kontakt</a></li>
    </ul>
</nav>