@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\0000352}}
* {
  box-sizing: border-box;
  padding: 0em;
  margin: 0em;
  font-family: "Source Sans Pro", sans-serif;
  color: #313131;
  line-height: 1.7em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\0000360}}
  *::before, *::after {
    box-sizing: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\0000367}}
html {
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  font-size: 17px;
  /* overflow-y: scroll; */ }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\0000375}}
h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\0000383}}
h4 {
  font-size: 1.1rem; }
  @media (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\0000383}}
    h4 {
      font-size: 0.8rem; } }

@media (max-width: 860px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\0000391}}
  p {
    font-size: 0.8rem; } }
@media (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\0000391}}
  p {
    font-size: 0.75rem; } }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003101}}
body {
  background-color: #fbfbfb; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003104}}
  body::-webkit-scrollbar-track {
    background-color: rgba(233, 233, 233, 0.3); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003108}}
  body::-webkit-scrollbar {
    width: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003112}}
  body::-webkit-scrollbar-thumb {
    background-color: rgba(119, 174, 182, 0.7); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003116}}
  body::-webkit-scrollbar-thumb:hover {
    background: rgba(89, 128, 134, 0.7); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003128}}
.navbar-container {
  padding: 0 5vw 0vw 5vw;
  margin-top: 0.8vh;
  position: relative;
  display: flex;
  list-style: none;
  font-size: 1.4rem;
  letter-spacing: 0.3rem; }
  @media (max-width: 860px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003128}}
    .navbar-container {
      flex-direction: column; } }
  @media (max-width: 1150px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003144}}
    .navbar-container a {
      font-size: 1.3rem; } }
  @media (max-width: 860px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003144}}
    .navbar-container a {
      font-size: 1.1rem; } }
  @media (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003144}}
    .navbar-container a {
      font-size: 0.9rem; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003158}}
  .navbar-container .navbar-home {
    flex: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003161}}
    .navbar-container .navbar-home a {
      text-decoration: none;
      color: #4b4b4b;
      padding: 0.2rem 0.5rem;
      border-left: 0.2rem solid #7e7e7e; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003168}}
      .navbar-container .navbar-home a:hover {
        background-color: rgba(49, 49, 49, 0.1); }
      @media (max-width: 860px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003161}}
        .navbar-container .navbar-home a {
          border-bottom: 0.15rem solid #7e7e7e; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003189}}
  .navbar-container .navbar-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 35%; }
    @media screen and (max-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003189}}
      .navbar-container .navbar-links {
        width: 40%; } }
    @media (max-width: 860px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003189}}
      .navbar-container .navbar-links {
        width: 50%; } }
  @media (max-width: 860px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003204}}
    .navbar-container .nb-right {
      margin: 0 0.5rem 0 0;
      padding: 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003210}}
  .navbar-container .nb-right a {
    text-decoration: none;
    margin-left: 3vw;
    padding: 0.2rem 0.5rem;
    color: #4b4b4b; }
    @media (max-width: 860px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003210}}
      .navbar-container .nb-right a {
        margin-left: 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003221}}
    .navbar-container .nb-right a:hover {
      background-color: rgba(49, 49, 49, 0.1); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003249}}
.navbar-projects-wrapper {
  padding: 0 5vw 0vw 5vw;
  margin-top: 5vh; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003257}}
  .navbar-projects-wrapper h4 {
    letter-spacing: 0.3rem;
    font-size: 1.1rem;
    text-transform: none;
    color: #4b4b4b;
    padding: 0.3rem 0.4rem; }
    @media (max-width: 860px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003257}}
      .navbar-projects-wrapper h4 {
        font-size: 0.9rem; } }
    @media (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003257}}
      .navbar-projects-wrapper h4 {
        font-size: 0.8rem; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003274}}
  .navbar-projects-wrapper .nb-projects {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 0.5rem; }
    @media (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003274}}
      .navbar-projects-wrapper .nb-projects {
        flex-direction: column; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003287}}
    .navbar-projects-wrapper .nb-projects .nb-p-project {
      margin-right: 0.6rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003290}}
      .navbar-projects-wrapper .nb-projects .nb-p-project .nbpp-link {
        color: #909090;
        text-decoration: none;
        font-size: 1rem;
        letter-spacing: 0.07rem;
        padding: 0.3rem 0.4rem;
        text-transform: uppercase; }
        @media (max-width: 860px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003290}}
          .navbar-projects-wrapper .nb-projects .nb-p-project .nbpp-link {
            font-size: 0.8rem; } }
        @media (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003290}}
          .navbar-projects-wrapper .nb-projects .nb-p-project .nbpp-link {
            font-size: 0.6rem; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003310}}
        .navbar-projects-wrapper .nb-projects .nb-p-project .nbpp-link:hover {
          color: #6a6a6a; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003315}}
      .navbar-projects-wrapper .nb-projects .nb-p-project .active {
        color: #4b4b4b;
        font-size: 1.05rem;
        background: rgba(233, 233, 233, 0.5); }
        @media (max-width: 860px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003315}}
          .navbar-projects-wrapper .nb-projects .nb-p-project .active {
            font-size: 0.85rem; } }
        @media (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003315}}
          .navbar-projects-wrapper .nb-projects .nb-p-project .active {
            font-size: 0.65rem; } }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003338}}
.navbar-container .navbar-home a {
  border-left: 0.2rem solid #d0d0d0;
  color: #575757; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003344}}
  .navbar-container .navbar-home a:hover {
    background-color: rgba(233, 233, 233, 0.9); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003354}}
.navbar-container .nb-right {
  letter-spacing: 0.3rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003358}}
  .navbar-container .nb-right a {
    color: #7e7e7e; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003361}}
    .navbar-container .nb-right a:hover {
      background-color: rgba(233, 233, 233, 0.9); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003371}}
.main-container {
  background-color: #fbfbfb;
  display: grid;
  grid-template-columns: 1fr 40%;
  grid-gap: 2vw;
  padding: 4vw 5vw;
  margin-bottom: 5vh; }
  @media (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003371}}
    .main-container {
      grid-template-columns: 1fr;
      padding: 5vw 5vw;
      margin-bottom: 3vh; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003392}}
  .main-container .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw; }
    @media (max-width: 860px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003392}}
      .main-container .row {
        grid-template-columns: 1fr; } }
    @media (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003392}}
      .main-container .row {
        grid-template-columns: 1fr; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003409}}
    .main-container .row .project-image {
      margin-bottom: 2vw;
      transition: 0.1s ease-in;
      cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003414}}
      .main-container .row .project-image:hover {
        opacity: 0.8; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003423}}
  .main-container .project-description h4 {
    font-size: 1.1rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5vh; }
    @media (max-width: 860px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003423}}
      .main-container .project-description h4 {
        font-size: 0.95rem; } }
    @media (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003423}}
      .main-container .project-description h4 {
        font-size: 0.8rem; } }
  @media (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003420}}
    .main-container .project-description {
      grid-row-start: 1; } }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003455}}
#contact-container {
  margin-bottom: 8vh;
  margin: 0 7vw 8vh 7vw; }
  @media (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003455}}
    #contact-container {
      margin: 0 3vw 8vh 3vw; } }
  @media (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003455}}
    #contact-container {
      margin: 0 0 4vh 0; } }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003486}}
#contact {
  display: grid;
  grid-template-columns: 0.2rem 1fr 0.2rem;
  grid-gap: 4vw;
  align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003499}}
  #contact .contact-heading {
    margin-bottom: 2.5rem;
    letter-spacing: 0.3rem;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003504}}
    #contact .contact-heading h2 {
      font-size: 2.1rem; }
      @media (max-width: 1150px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003504}}
        #contact .contact-heading h2 {
          font-size: 1.7rem; } }
      @media (max-width: 860px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003504}}
        #contact .contact-heading h2 {
          font-size: 1.4rem; } }
      @media (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003504}}
        #contact .contact-heading h2 {
          font-size: 1.2rem; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003526}}
  #contact .contact-details {
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-gap: 3rem;
    justify-content: center;
    padding-left: 3vw;
    border-left: 0.2rem solid #7e7e7e; }
    @media (max-width: 860px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003526}}
      #contact .contact-details {
        grid-gap: 1.5rem; } }
    @media (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003526}}
      #contact .contact-details {
        grid-gap: 0.8rem; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003544}}
    #contact .contact-details h4 {
      font-size: 1.1rem;
      color: #7e7e7e; }
      @media (max-width: 860px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003544}}
        #contact .contact-details h4 {
          font-size: 0.9em; } }
      @media (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003544}}
        #contact .contact-details h4 {
          font-size: 0.7rem; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003557}}
    #contact .contact-details p {
      font-size: 1rem; }
      @media (max-width: 1150px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003557}}
        #contact .contact-details p {
          font-size: 0.93rem; } }
      @media (max-width: 860px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003557}}
        #contact .contact-details p {
          font-size: 0.8rem; } }
      @media (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003557}}
        #contact .contact-details p {
          font-size: 0.7rem; } }

/* The Modal (background) */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003584}}
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */ }

/* Modal Content (image) */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003608}}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px; }

/* Caption of Modal Image */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003616}}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px; }

/* Add Animation */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003628}}
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s; }

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0.8); }
  to {
    -webkit-transform: scale(1); } }
@keyframes zoom {
  from {
    transform: scale(0.8); }
  to {
    transform: scale(1); } }
/* The Close Button */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003657}}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003667}}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer; }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Programmierung\/Desktop\/Github_Repositories\/ArtistPortfolio_ZaidaGuerreroCasado\/assets\/scss\/style_project\.scss}line{font-family:\00003676}}
  .modal-content {
    width: 100%; } }

/*# sourceMappingURL=style_project.css.map */
