* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0em;
  margin: 0em;
  font-family: "Source Sans Pro", sans-serif;
  color: #313131;
  line-height: 1.7em;
}

*::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  font-size: 17px;
  /* overflow-y: scroll; */
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
}

h4 {
  font-size: 1.1rem;
}

@media (max-width: 1150px) {
  h4 {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  h4 {
    font-size: 0.8rem;
  }
}

@media (max-width: 1150px) {
  p {
    font-size: 0.93rem;
  }
}

@media (max-width: 480px) {
  p {
    font-size: 0.75rem;
  }
}

body {
  background-color: #fbfbfb;
}

body::-webkit-scrollbar-track {
  background-color: rgba(233, 233, 233, 0.3);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(119, 174, 182, 0.7);
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(89, 128, 134, 0.7);
}

.navbar-container {
  padding: 0 5vw 0vw 5vw;
  margin-top: 0.8vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
}

@media (max-width: 860px) {
  .navbar-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1150px) {
  .navbar-container a {
    font-size: 1.3rem;
  }
}

@media (max-width: 860px) {
  .navbar-container a {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .navbar-container a {
    font-size: 0.9rem;
  }
}

.navbar-container .navbar-home {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar-container .navbar-home a {
  text-decoration: none;
  color: #4b4b4b;
  padding: 0.2rem 0.5rem;
  border-left: 0.2rem solid #7e7e7e;
}

.navbar-container .navbar-home a:hover {
  background-color: rgba(49, 49, 49, 0.1);
}

@media (max-width: 860px) {
  .navbar-container .navbar-home a {
    border-bottom: 0.15rem solid #7e7e7e;
  }
}

.navbar-container .navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35%;
}

@media screen and (max-width: 1024px) {
  .navbar-container .navbar-links {
    width: 40%;
  }
}

@media (max-width: 860px) {
  .navbar-container .navbar-links {
    width: 50%;
  }
}

@media (max-width: 860px) {
  .navbar-container .nb-right {
    margin: 0 0.5rem 0 0;
    padding: 0;
  }
}

.navbar-container .nb-right a {
  text-decoration: none;
  margin-left: 3vw;
  padding: 0.2rem 0.5rem;
  color: #4b4b4b;
}

@media (max-width: 860px) {
  .navbar-container .nb-right a {
    margin-left: 0;
  }
}

.navbar-container .nb-right a:hover {
  background-color: rgba(49, 49, 49, 0.1);
}

#landingPage {
  height: 100vh;
}

#heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 5vw;
}

@media (max-width: 480px) {
  #heading {
    margin: 0 3.7vw;
  }
}

#heading h1 {
  font-size: 2.4rem;
  margin-top: 25vh;
  margin-bottom: 0.5rem;
  letter-spacing: 0.8rem;
}

@media (max-width: 1150px) {
  #heading h1 {
    font-size: 2rem;
  }
}

@media (max-width: 860px) {
  #heading h1 {
    font-size: 1.5rem;
    margin-top: 25vh;
  }
}

@media (max-width: 480px) {
  #heading h1 {
    font-size: 1.4rem;
    margin-top: 15vh;
    margin-bottom: 1rem;
  }
}

#heading p {
  font-size: 1.4em;
  letter-spacing: 0.4rem;
}

@media (max-width: 1150px) {
  #heading p {
    font-size: 1.2rem;
  }
}

@media (max-width: 860px) {
  #heading p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  #heading p {
    font-size: 0.8rem;
    color: #0b0b0b;
  }
}

#heading::after {
  content: "";
  background: url(../images/DSC_0061_2a.JPG);
  background-size: cover;
  background-attachment: absolute;
  opacity: 0.9;
  /* Add the blur effect */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  /* transparent background-image */
  /* https://css-tricks.com/snippets/css/transparent-background-images/ */
}

#projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4vw;
}

#projects-container .pc-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4rem;
}

#projects-container .pc-heading h2 {
  margin: 0rem auto;
  margin-top: 1.5rem;
  letter-spacing: 0.3rem;
  font-size: 2.1rem;
}

@media (max-width: 1150px) {
  #projects-container .pc-heading h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 860px) {
  #projects-container .pc-heading h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  #projects-container .pc-heading h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  #projects-container .pc-heading {
    margin-bottom: 2rem;
  }
}

#projects-container #project-teaser {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 8vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

@media (max-width: 860px) {
  #projects-container #project-teaser {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#projects-container #project-teaser .pt-project {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25rem;
  height: 22rem;
}

@media (max-width: 860px) {
  #projects-container #project-teaser .pt-project {
    width: 20rem;
    height: 17rem;
    margin-bottom: 4vh;
  }
}

@media (max-width: 480px) {
  #projects-container #project-teaser .pt-project {
    width: 15rem;
    height: 12rem;
  }
}

#projects-container #project-teaser .pt-project .image {
  -o-object-fit: cover;
     object-fit: cover;
  border-top: 0.16rem solid #9d9d9d;
  border-bottom: 0.16rem solid #9d9d9d;
  padding: 0.5rem 0;
  width: 25rem;
  height: 20rem;
  cursor: pointer;
}

#projects-container #project-teaser .pt-project .image:hover {
  opacity: 0.8;
}

@media (max-width: 860px) {
  #projects-container #project-teaser .pt-project .image {
    width: 20rem;
    height: 15rem;
  }
}

@media (max-width: 480px) {
  #projects-container #project-teaser .pt-project .image {
    width: 15rem;
    height: 10rem;
    padding: 0.3rem 0;
    border-top: 0.1rem solid #9d9d9d;
    border-bottom: 0.1rem solid #9d9d9d;
  }
}

#projects-container #project-teaser .project-description {
  text-align: center;
  word-spacing: 0.1rem;
}

#cv-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 7vw 15vw 5vw 15vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 480px) {
  #cv-container {
    margin: 10vw 11vw 10vw 11vw;
  }
}

#cv-container .cv-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

#cv-container .cv-heading h2 {
  margin: 0rem auto;
  margin-top: 1.5rem;
  letter-spacing: 0.3rem;
  font-size: 2.1rem;
}

@media (max-width: 1150px) {
  #cv-container .cv-heading h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 860px) {
  #cv-container .cv-heading h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  #cv-container .cv-heading h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  #cv-container .cv-heading {
    margin-bottom: 0;
  }
}

#cv-container .cv-years {
  margin: 0rem auto;
  -ms-flex-line-pack: center;
      align-content: center;
}

#cv-container .cv-years h4 {
  margin-bottom: 0.4rem;
  margin-top: 1.7rem;
}

#cv-container .cv-years p {
  margin-bottom: 0.7rem;
  line-height: 1.5rem;
}

#contact-container {
  margin: 0 7vw 4vw 7vw;
}

@media (max-width: 480px) {
  #contact-container {
    margin: 0 0 8vh 0;
  }
}

#contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2rem 1fr 0.2rem;
      grid-template-columns: 0.2rem 1fr 0.2rem;
  grid-gap: 4vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .contact-heading {
  margin-bottom: 2.5rem;
  letter-spacing: 0.3rem;
  text-align: center;
}

#contact .contact-heading h2 {
  font-size: 2.1rem;
}

@media (max-width: 1150px) {
  #contact .contact-heading h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 860px) {
  #contact .contact-heading h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  #contact .contact-heading h2 {
    font-size: 1.2rem;
  }
}

#contact .contact-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 1fr;
      grid-template-columns: 60% 1fr;
  grid-gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 3vw;
  border-left: 0.2rem solid #7e7e7e;
}

@media (max-width: 860px) {
  #contact .contact-details {
    grid-gap: 1.5rem;
  }
}

@media (max-width: 480px) {
  #contact .contact-details {
    grid-gap: 0.8rem;
    border-left: 0.15rem solid #7e7e7e;
  }
}

#contact .contact-details h4 {
  font-size: 1.1rem;
  color: #7e7e7e;
}

@media (max-width: 860px) {
  #contact .contact-details h4 {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  #contact .contact-details h4 {
    font-size: 0.7rem;
  }
}

#contact .contact-details p {
  font-size: 1rem;
}

@media (max-width: 1150px) {
  #contact .contact-details p {
    font-size: 0.93rem;
  }
}

@media (max-width: 860px) {
  #contact .contact-details p {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  #contact .contact-details p {
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=style_index.css.map */